<?xml version="1.0" encoding="UTF-8"?>

<!--

  Flutter web SPA on IIS (ParentApp).



  Requires "IIS URL Rewrite" module:

  https://www.iis.net/downloads/microsoft/url-rewrite



  Without the rewrite rule below, only the site root works.

  Direct URLs like /login, /home, /teacher/dashboard return 404 on refresh.

-->

<configuration>

  <system.webServer>

    <urlCompression doStaticCompression="false" doDynamicCompression="false" />

    <defaultDocument enabled="true">

      <files>

        <clear />

        <add value="index.html" />

      </files>

    </defaultDocument>



    <rewrite>

      <rules>

        <rule name="ParentApp_StaticFiles" stopProcessing="true">

          <match url="^(assets/.*|canvaskit/.*|fonts/.*|icons/.*|images/.*|splash/.*|main\.dart\.js|flutter_bootstrap\.js|flutter\.js|manifest\.json|favicon\.png|version\.json|flutter_service_worker\.js)$" ignoreCase="true" />

          <action type="None" />

        </rule>

        <rule name="ParentApp_SPA" stopProcessing="true">

          <match url=".*" />

          <conditions logicalGrouping="MatchAll">

            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />

            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />

          </conditions>

          <action type="Rewrite" url="/index.html" />

        </rule>

      </rules>

    </rewrite>



    <staticContent>

      <remove fileExtension=".wasm" />

      <mimeMap fileExtension=".wasm" mimeType="application/wasm" />

      <remove fileExtension=".woff" />

      <mimeMap fileExtension=".woff" mimeType="font/woff" />

      <remove fileExtension=".woff2" />

      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />

      <remove fileExtension=".otf" />

      <mimeMap fileExtension=".otf" mimeType="font/otf" />

      <remove fileExtension=".json" />

      <mimeMap fileExtension=".json" mimeType="application/json" />

      <remove fileExtension=".js" />

      <mimeMap fileExtension=".js" mimeType="application/javascript" />

      <remove fileExtension=".webmanifest" />

      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />

    </staticContent>

    <!-- WASM + JSON compression can cause Firefox NS_ERROR_NET_INTERRUPT. -->
    <httpCompression>

      <dynamicTypes>

        <add mimeType="application/javascript" enabled="true" />

        <add mimeType="application/wasm" enabled="false" />

        <add mimeType="application/json" enabled="false" />

        <add mimeType="font/woff" enabled="true" />

        <add mimeType="font/woff2" enabled="true" />

      </dynamicTypes>

      <staticTypes>

        <add mimeType="application/javascript" enabled="true" />

        <add mimeType="application/wasm" enabled="false" />

        <add mimeType="application/json" enabled="false" />

        <add mimeType="font/woff" enabled="true" />

        <add mimeType="font/woff2" enabled="true" />

      </staticTypes>

    </httpCompression>

  </system.webServer>

  <location path="assets">
    <system.webServer>
      <urlCompression doStaticCompression="false" doDynamicCompression="false" />
    </system.webServer>
  </location>

  <location path="canvaskit">
    <system.webServer>
      <urlCompression doStaticCompression="false" doDynamicCompression="false" />
    </system.webServer>
  </location>

</configuration>

